{% extends "budget_tracker/base.html" %}
{% block title %}Add Expense{% endblock %}


{% block content %}

<h1>Add Expense</h1>
<form action="{% url 'budget_tracker:add_expense' %}" method="post">
    {% csrf_token %}

    <label for="expense_quantity">Expense Amount:</label>
    <input type="number" step="0.01" id="expense_quantity" name="expense_quantity" placeholder="14.25" required>


    <fieldset>
        <legend>Expense Category:</legend>

        <label>
            <input type="radio" id="food" name="category" value="Food" checked>
            <span class="checkable">Food</span>
        </label>

        <label>
            <input type="radio" id="travel" name="category" value="Travel">
            <span class="checkable">Travel</span>
        </label>

        <label>
            <input type="radio" id="shopping" name="category" value="Shopping">
            <span class="checkable">Shopping</span>
        </label>

        <label>
            <input type="radio" id="necessities" name="category" value="Necessities">
            <span class="checkable">Necessities</span>
        </label>

        <label>
            <input type="radio" id="entertainment" name="category" value="Entertainment">
            <span class="checkable">Entertainment</span>
        </label>

        <label>
            <input type="radio" id="other" name="category" value="Other">
            <span class="checkable">Other</span>
        </label>
    </fieldset>

    <input type="submit" value="Add Expense">
</form>


{% endblock %}
