<!DOCTYPE>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}{% endblock %}</title>
        
        {% load static %}
        <link rel="stylesheet" href="{% static 'budget_tracker/base.css' %}">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/picnic">
    </head>
    <body>
    <nav>
        <a class="brand" href="{% url 'budget_tracker:index' %}">
                <span>Budget Tracker</span>
        </a> 

        {% if current_user %}
            <div class="menu">
                <a class="pseudo button" href="#">{{ current_user.username }}</a>
                <a class="button" href="{% url 'budget_tracker:logout_view' %}">Logout</a>
            </div>
        {% endif %}
    </nav>

        <main>
            {% block content %}{% endblock %}
        </main>
    </body>
</html>
