{% extends "budget_tracker/base.html" %}
{% block title %}Home{% endblock %}


{% block content %}
<h1>Balance</h1>
{{ savings }}

<a href="{% url 'budget_tracker:add_expense' %}">add expense</a>
<a href="{% url 'budget_tracker:add_income' %}">add income</a>

<h1>Expenses</h1>
{% for expense in expenses %}
    <p>{{ expense.quantity }}</p>
    <p>{{ expense.category }}</p>
    <p>{{ expense.date }}</p>
    <a href="{% url 'budget_tracker:remove_expense' expense.id %}">Remove</a>
    <a href="{% url 'budget_tracker:edit_expense' expense.id %}">Edit</a>
{% endfor %}

<h1>Incomes</h1>
{% for income in incomes %}
    <p>{{ income.quantity }}</p>
    <p>{{ income.date }}</p>
    <a href="{% url 'budget_tracker:remove_income' income.id %}">Remove</a>
    <a href="{% url 'budget_tracker:edit_income' income.id %}">Edit</a>
{% endfor %}

{% endblock %}
