{% extends "budget_tracker/base.html" %}
{% block title %}Home{% endblock %}


{% block content %}
<h1>Balance</h1>
{{ savings }}

<a class="button" href="{% url 'budget_tracker:add_expense' %}">add expense</a>
<a class="button" href="{% url 'budget_tracker:add_income' %}">add income</a>



<div class="transactions">
    <div>
        <h1>Expenses</h1>
        {% for expense in expenses %}
        <p>{{ expense.quantity }}</p>
        <p>{{ expense.category }}</p>
        <p>{{ expense.date }}</p>
        <a class="button" href="{% url 'budget_tracker:edit_expense' expense.id %}">Edit</a>
        <a class="button error" href="{% url 'budget_tracker:remove_expense' expense.id %}">Remove</a>
        {% endfor %}
    </div>
    <div>
        <h1>Incomes</h1>
        {% for income in incomes %}
        <p>{{ income.quantity }}</p>
        <p>{{ income.date }}</p>
        <a class="button" href="{% url 'budget_tracker:edit_income' income.id %}">Edit</a>
        <a class="button error" href="{% url 'budget_tracker:remove_income' income.id %}">Remove</a>
        {% endfor %}
    </div>
</section>
{% endblock %}
