{% extends "budget_tracker/base.html" %}
{% block title %}Home{% endblock %}


{% block content %}
<div class="card savings">
    <header>
        <h3>Balance</h3>
    </header>
    <footer>
        <h1>₱{{ savings }}</h1>
    </footer>
</div>

<a class="button" href="{% url 'budget_tracker:add_expense' %}">add expense</a>
<a class="button" href="{% url 'budget_tracker:add_income' %}">add income</a>



<div class="transactions">
    <div>
        <header>
            <h2>Expenses</h2>
        </header>

        {% if expenses %}
        <footer>
            {% for expense in expenses %}
            <div class="card">
                <header>
                    <p>₱{{ expense.quantity }}
                        <span class="label success">{{ expense.category }}</span>
                        <span class="label warning">{{ expense.date }}</span>
                    </p>
                </header>
                <footer>
                    <a class="smallButton button" href="{% url 'budget_tracker:edit_expense' expense.id %}">Edit</a>
                    <a class="smallButton button dangerous" href="{% url 'budget_tracker:remove_expense' expense.id %}">Remove</a>
                </footer>
            </div>
            {% endfor %}
        </footer>
        {% endif %}
    </div>

    <div>
        <header>
            <h2>Incomes</h2>
        </header>

        {% if incomes %}
        <footer>
            {% for income in incomes %}
            <div class="card">
                <header>
                    <p>₱{{ income.quantity }}
                        <span class="label warning">{{ income.date }}</span>
                    </p>
                </header>
                <footer>
                    <a class="smallButton button" href="{% url 'budget_tracker:edit_income' income.id %}">Edit</a>
                    <a class="smallButton button dangerous" href="{% url 'budget_tracker:remove_income' income.id %}">Remove</a>
                </footer>
            </div>
            {% endfor %}
        </footer>
        {% endif %}
    </div>
    </section>
    {% endblock %}
